* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: gainsboro; 
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 2px solid #fff; 
  background-color: blanchedalmond;
  width: 900px;
  display: flex;
  justify-content: space-around;

}

h1 {
  background-color:silver;
  margin-bottom: 2px;
  text-align: center;
  color: rgb(104, 113, 85);
}

a {
  text-decoration: none;
  color: rgb(113, 112, 101);
}